@model MvcMovie.Models.Rent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
